BOT_TOKEN=your_telegram_bot_token_here
TARGET_CHAT_ID=-100xxxxxxxxxx
DB_URL=sqlite+aiosqlite:///bot.db
PROXY_URL=http://127.0.0.1:10809
CHECK_DELETED_INTERVAL=30
TIMEZONE=Europe/Moscow
OD_SECRET_TOKEN=your_secret_token_here
WS_HOST=0.0.0.0
WS_PORT=8080
SSL_KEYFILE=key.pem
SSL_CERTFILE=cert.pem
